
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    //
    // Functions
    //
    function isSignedIn() {
      return request.auth != null;
    }

    function isRole(role) {
      return isSignedIn() && request.auth.token.role == role;
    }

    function isOneOfRoles(roles) {
      return isSignedIn() && request.auth.token.role in roles;
    }
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    //
    // Rules
    //
    match /users/{userId} {
      allow read, write: if isOwner(userId) || isOneOfRoles(['admin']);
    }

    match /reports/{reportId} {
      allow read, write: if isOneOfRoles(['admin', 'officer']);

      match /messages/{messageId} {
        allow read, write: if isOneOfRoles(['admin', 'officer']);
        allow create: if isSignedIn(); // For reporters to send messages
      }
      
      match /attachments/{attachmentId} {
        allow read, write: if isOneOfRoles(['admin', 'officer']);
        allow create: if isSignedIn(); // For reporters to upload
      }
    }
    
    match /shared_reports/{shareId} {
      allow read;
      allow write: if isOneOfRoles(['admin', 'officer']);
    }

    match /statuses/{statusId} {
      allow read;
      allow write: if isOneOfRoles(['admin']);
    }

    match /categories/{categoryId} {
      allow read;
      allow write: if isOneOfRoles(['admin']);
    }
    
    match /audit_logs/{logId} {
      allow read, write: if isOneOfRoles(['admin']);
    }

    match /content/{docId} {
      allow read;
      allow write: if isOneOfRoles(['admin']);
    }
  }
}
